@using LojaRazor_v2.Internacionalizacao

<!--Links da página-->
<div class="navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            @Html.ActionLink("Loja Razor", "Index", "Home", null, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(Mensagens.Sobre, "About", "Home")</li>
                <li>@Html.ActionLink(Mensagens.Contato, "Contato", "Home")</li>
            </ul>
            <p class="navbar-text pull-right">
                @if (Session["usuarioLogado"] != null)
                {
                    @:Bem-vindo
                    @Session["usuarioLogado"]
                    @Html.ActionLink(Mensagens.Logout, "Logout", "Autenticacao")
                }
                else
                {
                    @:Olá Visitante,
                    @Html.ActionLink(Mensagens.Login, "Index", "Autenticacao")
                    @:ou
                    @Html.ActionLink(Mensagens.CadastreSe, "Form", "Usuarios")
                }
            </p>
        </div>
    </div>
</div>

